<body id="about-page">
    <!-- About Section-->
    <section class="about">
        <div class="main">
            <!-- profile picture -->
            {{!-- <li id="backToAbout" type="button" for="search"
                class="fa-solid fa-arrow-left"></li> --}}
            <img src="{{img}}">
            <div class="about-text">
                <h1 id="about-name">{{name}}</h1>
                <h2 id="about-role">{{role}}</h2>
                <p id="about-description">{{desc}}</p>
                <a id="linkedin" class="fa-brands fa-linkedin" href="{{linkedin}}"></a>
                <a id="github" class="fa-brands fa-github" href="{{github}}"></a>
                <a id="portfolio" class="fa-solid fa-window-maximize" href="{{portfolio}}"></a>
            </div>
        </div>
    </section>
    <script src="../public/javascript/frontendjs.js"></script>
</body>